/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url(./eye-candy/header-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  /* overflow: hidden; */
}

.App-nav {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0 50px;
}

.App-title {
  width: 25%;
  font-family: 'Damion', cursive;
  font-size: 32px;
  color: #fed136;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.nav-links {
  width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
}

.link {
  padding: 8px;
  margin-right: 1.1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  transition: color 0.2s ease-out;
  letter-spacing: 0.075em;
}
.link:hover {
  color: #ffc800;
  cursor: pointer;
}

.App-welcome {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.greeting1 {
  font-family: 'Arvo', serif;
  font-size: 2em;
  letter-spacing: 0.09em;
  margin-bottom: 30px;
}

.greeting2 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 4.2em;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  margin-bottom: 60px;
}

.more-btn {
  padding: 22px 45px 22px 45px;
  background-color: #ffc800;
  transition: background-color 0.3s ease-out;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 18.5px;
  letter-spacing: 0.04em;
  font-weight: bold;
}
.more-btn:hover {
  background-color: #d9aa00;
  border-color: #cca000;
  cursor: pointer;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
